.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  overflow: hidden;
}
